<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>GoTravel Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<section id="goTravelDetails">
    <p class="section_text_p1">Welcome To</p>
    <h1 class="title">GoTravel!</h1>
    <div class="skills-article">
        <div class="about-containers">
             <div class="detail-container colored-container">
                <div class="skills-container">
                   <p>Developed a full-stack travel planning web application with Bootstrap and Spring Boot, integrating external APIs for dynamic user experience.</p>
                </div>
             </div>
        </div>
    </div>
</section>
</body>
</html>